@f-normal: 14px;
@f-heading: 20px;

@c-black: #272727;
@c-gray: #2D2D2D;
@c-lgray: #464444;
@c-white: #CCCCCC;
@c-orange: #F99157;
@c-purple: #CC99CC;
@c-blue: #6699CC;
@c-yellow: #FFCC66;

body {
    font-size: @f-normal;
    color: @c-white;
    font-family: Verdana, Arial, serif;
    background-color: @c-black;
    a {
        color: @c-yellow;
        text-decoration: none;
        cursor: pointer;
    }
}

.outer-wrapper {
    width: inherit;
    .inner-wrapper {
        width: 1280px;
        margin: auto;
        left: 0;
        right: 0;
    }
}

.footer {
    position: absolute;
    text-align: center;
    bottom:0px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.6;
}

.header {
    margin-top: 15px;
    border-bottom: 1px solid @c-lgray;
    div {
        float: left;
    }
    .logo {
        padding: 10px 20px;
        font-weight: bold;
        background-color: @c-gray;
        color: @c-yellow;
        cursor: pointer;
    }
    .logo:hover {}
    .profile {
        padding: 10px 20px;
        float: right;
        background-color: @c-gray;
        color: @c-white;
        font-weight: bold;
        cursor: pointer;
        img {
            width: 25px;
            height: 25px;
            margin: -5px;
        }
        .image {
            margin: 0 5px;
        }
    }
    .nav {
        padding: 10px 20px;
    }
    .nav:hover {
        background-color: @c-gray;
        color: @c-yellow;
        cursor: pointer;
    }
}

#content {
    padding: 10px;
    .title {
        font-size: 32px;
        text-align: center;
    }
    .message {
        text-align: center;
    }
    .editor-wrapper {
        margin: 20px 0;
        height : 500px;
        position: relative;
        .editor {
            position: absolute;
            width: 620px;
            height: 100%;            
            border: 1px solid @c-lgray;
            &#editor1 {
                left: 0;
            }
            &#editor2 {
                right: 0;
            }
        }
        .vs {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50px;
            height:50px;
            font-size: 50px;
            z-index: 102;
        }
        .submitCode {
            position: absolute;
            bottom: -70px;
            right: 0;
            left: 0;
            width: 200px;
            font-size: 26px;
            margin: auto;
            -webkit-border-radius: 5;
            -moz-border-radius: 5;
            border-radius: 5px;
            color: @c-yellow;
            background: @c-black;
            border: 1px solid @c-lgray;
            padding: 5px 10px;
            z-index: 101;
            text-align: center;
            &:hover{
                cursor: pointer;
                border: 1px solid @c-yellow;
            }
        }
        .validation {
            width: 580px;
            position: absolute;
            bottom: 0;
            background: @c-black;
            opacity: 0.9;
            z-index: 100;
            padding: 10px 20px;
            border: 1px solid @c-lgray;
            &#validation1 {
                left: 0;
            }
            &#validation2 {
                right: 0;
            }
            transition: all 0.5s ease;
        }
        .results {
            position: absolute;
            margin: auto;
            width: 700px;
            height: 400px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-border-radius: 5;
            -moz-border-radius: 5;
            border-radius: 5px;
            border: 1px solid @c-lgray;
            background: @c-black;
            z-index: 110;
            transition: all 0.5s ease;
            .results-title {
                margin: 10px;
                font-size: 32px;
                text-align: center;
            }
            .another-one {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 10px;
                cursor: pointer;
            }
            .v-sep {
                position: absolute;
                margin: auto;
                width: 1px;
                height: 270px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: @c-lgray;
            }
            .i-goph {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .result {
                width: 250px;
                &#res1{
                    float: left;
                    margin-left: 50px;
                }
                &#res2{
                    float: right;
                    margin-right: 50px;
                }
                display: table;
                border-collapse: collapse;
                .box-row {
                   display: table-row;
                    .win {
                        background-color: green;
                    }
                    .lose {
                        background-color: red;
                    }
                    &.thead {
                        font-weight: bold;
                    }
                }
                .box {
                   display: table-cell;
                   text-align: left;
                   vertical-align: top;
                }
            }
        }
        
    }
    
}
