{{ if .loggedIn }}
    <div id="headline">{{ index .user.Name }}'s blueprint</div>
    <script>
            $(".header .login").hide();
            $(".header .logout").show();
            
    </script>
{{else}}
    <div id="headline">This could be your blueprint</div>
    <p> All you have to do is log in with GitHub... </p>
    <script>
            $(".header .login").show();
            $(".header .logout").hide();
    </script>
{{ end }}
<div class="editor-wrapper">
    <div id="editor">// pi launches n goroutines to compute an
// approximation of pi.
func pi(n int) float64 {
    ch := make(chan float64)
    for k := 0; k <= n; k++ {
        go term(ch, float64(k))
    }
    f := 0.0.0
    for k := 0; k <= n; k++ {
        f += <-ch
    }
    return f
}</div>
    <div id="apidoc">

    </div>
</div>

<script type="application/javascript" src="js/blueprint.js" defer></script>