<div id="headline" class="title">A place for all your Go code kombating needs</div>
<p class="message">It's very simple - code (or paste, whatever) two Go snippets 
    and compare their performance head to head.</p>

{{ if .loggedIn }}
    <script>
            $(".header .login").hide();
            $(".header .logout").show();
    </script>
{{else}}
    <p class="message"><span class="login">Login</span> with your GitHub and Kombat away!</p>
    <script>
            $(".header .login").show();
            $(".header .logout").hide();
    </script>
{{ end }}
<p class="message">Here is an example for you:</p>
<div class="editor-wrapper">
    <div id="editor1" class="editor">package main

import (
    "bytes"
    "fmt"
)

func main() {
    var buffer bytes.Buffer
    for i := 0; i < 100; i++ {
        buffer.WriteString("a")
    }
	fmt.Println(buffer.String())
}</div>    
    <div id="editor2" class="editor">package main

import (
    "fmt"
)

func main() {
    var s string
    for i := 0; i < 100; i++ {
        s += "a"
    }
    fmt.Println(s)
}</div>
    <div class="vs">vs</div>
    <div id="validation1" class="validation ace_editor" style="display:none;"></div>
    <div id="validation2" class="validation ace_editor" style="display:none;"></div>
    <div class="submitCode">Fight!</div>
    <div class="results" style="display:none;">
        <div class="results-title">The results are in!</div>
        <div class="v-sep"></div>
        <img class="i-goph" src="../img/gopher.png" />
        <div class="another-one">
            <a>Do another one!</a>
        </div>
        <div class="result" id="res1">
            <div class="box-row thead">
                <div class="box">Gopher 1</div>
            </div>
            <div class="box-row">
                <div class="box">Lines of code:</div>
                <div class="box lines">&nbsp;</div>
            </div>
            <div class="box-row">
                <div class="box">Execution time:</div>
                <div class="box time"></div>
            </div>
            <div class="box-row">
                <div class="box">Memory consumption:</div>
                <div class="box memory"></div>
            </div>
        </div>

        <div class="result" id="res2">
            <div class="box-row thead">
                <div class="box">Gopher 2</div>
            </div>
            <div class="box-row">
                <div class="box">Lines of code:</div>
                <div class="box lines">&nbsp;</div>
            </div>
            <div class="box-row">
                <div class="box">Execution time:</div>
                <div class="box time"></div>
            </div>
            <div class="box-row">
                <div class="box">Memory consumption:</div>
                <div class="box memory"></div>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript" src="js/perf.js" defer></script>